/* newtask.module.css */

.newtask {
width: auto;
  margin: 0 auto;
  padding: 10px;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.inputGroup {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input,
.select {
  width:auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.textarea {
  resize: vertical;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  .newtask {
    max-width: 80%;
  }
}

@media (max-width: 576px) {
  .newtask {
    max-width: 90%;
  }
}
